<div *ngIf="!gameStarted; else gameScreen">
  <!-- <h2>Choose User</h2>
  <ul *ngFor="let user of users" (click)="selectUser(user)">
    {{
      user.name
    }}
  </ul> -->
  <mat-form-field>
    <mat-label>Choose user</mat-label>
    <mat-select [(ngModel)]="selectedUser">
      <mat-option *ngFor="let user of users" [value]="user">
        {{ user.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <div>
    <input type="text" [(ngModel)]="newUser" placeholder="Enter username" />
    <button (click)="createUser(newUser)">Create User</button>
  </div>

  <div *ngIf="selectedUser">
    <p>{{ selectedUser.name }}</p>
    <button (click)="startGame()">Start Game</button>
  </div>
</div>
<ng-template #gameScreen>
  <p>Selected User: {{ selectedUser.name }}</p>
  <app-game *ngIf="gameStarted" [selectedUser]="selectedUser"></app-game>
</ng-template>
<!-- <button (click)="showLogHistory()">Your Log History</button>
      <button (click)="showAllLogHistory()">All Log History</button> -->
