@import url("https://fonts.googleapis.com/css2?family=Aoboshi+One&family=Montserrat:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;300;400;500&family=Overpass:wght@200;300&family=Questrial&display=swap");

.home-main {
  height: 100vh;
  background-image: url("../../../assets/pink-purple-sky.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-container {
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  border: 1px solid #eca2a2;
}

.home-box {
  background-color: #4a4a4a;
  border: 1px solid white;
  height: 350px;
  width: 700px;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px 0;
  box-shadow: 5px 5px 5px 0px rgb(223, 3, 69);
}

h1 {
  font-family: "Aoboshi One", serif;
  font-size: 3rem;
  letter-spacing: 2px;
  color: #b5b5b5;
  text-shadow: 4px 4px 3px rgb(24, 24, 24);
  padding-bottom: 15px;
  /* border-bottom: 1px solid rgb(183, 18, 73); */
}

.dropdown {
  /* border: 1px solid blue; */
  background-color: blue;
  width: 490px;
}

.dropdown-choose {
  /* background-color: #4a4a4a00; */
  font-size: 17px;
  font-family: "Courier New", Courier, monospace;
}

.choose-create-container {
  height: 200px;
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* border: 1px solid rgb(30, 54, 159); */
}

.create-container {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 490px;
  align-items: center;
  /* border: 1px solid rgb(92, 187, 63); */
}

.enter-choose-container {
  display: flex;
  flex-direction: column;
  height: 150px;
  justify-content: space-between;
  /* border: 1px solid rgb(165, 65, 65); */
}

.enter-user {
  height: 40px;
  width: 350px;
  background-color: #6a666698;
  border: none;
  border-radius: 0px;
  background: #4a4a4a;
  border-bottom: 1px solid rgba(255, 255, 255, 0.406);
  color: white;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.23);
  font-family: "Courier New", Courier, monospace;
  letter-spacing: 1px;
}

.create-btn {
  background-color: #6a666698;
  height: 35px;
  width: 130px;
  border: none;
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 0.7rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  letter-spacing: 0.8px;
  border-radius: 5px;
  background: #4e4e4e;
  box-shadow: 6px 6px 13px #2e2e2ed9, -3px -3px 8px #666666;
  cursor: pointer;
}

.create-btn:hover {
  border-radius: 5px;
  background: linear-gradient(145deg, #464646, #535353);
  box-shadow: 10px 10px 28px #252525, -6px -6px 13px #777777;
}

.create-btn:active {
  border-radius: 5px;
  background: #74747485;
  box-shadow: inset 11px 11px 31px #303030, inset -11px -11px 31px #646464;
}

.start-btn {
  font-family: "Overpass", sans-serif;
  padding-top: 3px;
  font-weight: 300;
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 1px 1px 1px rgb(0, 0, 0);
  letter-spacing: 0.8px;
  border: none;
  width: 200px;
  height: 35px;
  border-radius: 5px;
  background: #4e4e4e;
  box-shadow: 6px 6px 13px #2e2e2ed9, -3px -3px 8px #666666;
  cursor: pointer;
}

.start-btn:hover {
  color: rgb(255, 69, 106);
  text-shadow: 1px 1px 1px rgb(85, 85, 85);
  border-radius: 5px;
  background: linear-gradient(145deg, #464646, #535353);
  box-shadow: 10px 10px 28px #252525, -6px -6px 13px #777777;
}

.start-btn:active {
  color: rgb(255, 255, 255);
  border-radius: 5px;
  background: #4e4e4e;
  box-shadow: inset 8px 8px 16px #343434, inset -8px -8px 16px #686868;
}
