/* You can add global styles to this file, and also import other style files */
/* newLog() {
    if (this.correctGuess === true) {
      this.newLogs.push({
        user: {
          id: this.selectedUser.id,
          name: this.selectedUser.name,
        },
        points: this.points,
        timestamp: new Date(),
      });
    }
  } */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
